# =====================================================
# Configurações do banco de dados MySQL
# =====================================================

# Endereço do servidor MySQL.
MYSQL_HOST=

# Porta do servidor MySQL.
MYSQL_PORT=

# Usuário para acesso ao banco.
MYSQL_USER=

# Senha do usuário.
MYSQL_PASSWORD=
